<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/webinargeek.png">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>WebinarGeekApi</title>
</head>
<body>
    <header>
        <div class="nav">
            <div class="container">
                <div class="flex_nav">
                    <img src="images/webinarGeek_logo_white.png" />
                    <h3>RestApi Ilias</h3>
                </div>
            </div>
        </div>
    </header>

    <div class="api_menu">
        <div class="flex_options">
            <div class="left_menu">
                <h1>Api Documentation</h1>
                <nav>
                    <ul>
                        <li id="btn_introduction">Introduction</li>
                        <li id="btn_broadcast">Broadcasts</li>
                        <li id="btn_subscriber">Subscribers</li>
                    </ul>
                </nav>
            </div>
        
            <div class="right_menu" id="right_menu">
                <div class="top_title">
                    <h1>Webinargeek Api</h1>
                </div>
                
                
                <div class="doc_intro">
                    <div class="docu_title">
                        <h2>Introduction</h2>
                    </div>
                    <p>Welcome to a simple Webinargeek Api, where you can create, read, update and delete Subscribers aswell as Broadcasts.<br>
                        For the database I used MongoDB, it's a NoSQL database and it's structured in a json format.<br>
                        In the menu on the left, you can walk through the documentation</p>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/subscriberobject.js"></script>
    <script src="/js/broadcastobject.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>