.api_menu{
    height: 100%;
}

.api_menu .flex_options{
    display: flex;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;

}


.api_menu .flex_options .left_menu{
    width: 380px;
    min-height: 100vh;
    background-color: #4c5264;
    color: #ffffff;
    padding: 0 0 0 5vw;
}

.api_menu .flex_options .left_menu h1{
    font-size: 20px;
    margin: 100px 0 30px 0;
    
}

.api_menu .flex_options .left_menu ul{
    text-decoration: none;
    list-style: none;
}

.api_menu .flex_options .left_menu ul li{
    height: 30px;
    cursor: pointer;
}

.api_menu .flex_options .left_menu ul li:nth-child(1){
    font-weight: bold;
    color: #7ccfaf;
    height: 40px;
}

.api_menu .flex_options .left_menu ul li:hover{
    font-weight: bold;
}



/* right_menu */
.api_menu .flex_options .right_menu{
    padding: 0 5vw 0 5vw;
    width: 100%;
}

.api_menu .flex_options .right_menu .top_title{
    width: 100%;
    border-bottom: 2px solid #4c5264;
}

.api_menu .flex_options .right_menu .top_title h1{
    margin: 100px 0 10px 0;
    width: 100%;
    color: #000000;
}



.api_menu .flex_options .right_menu .docu_title h2{
    padding: 40px 0 40px 0;
    color: #44ba8d;
}

.api_menu .flex_options .right_menu .box_item{
    width: 100%;
    padding: 17px;
    border-radius: 7px;
    border: 1px solid #4c5264;
    margin: 0 0 42px 0;
}

.api_menu .flex_options .right_menu .box_item .box_title h2{
    padding: 0 0 17px 0;
}

.api_menu .flex_options .right_menu .box_item .title_inner h3{
    height: 40px;
}

.api_menu .flex_options .right_menu .box_item .inner_item{
    padding: 0 0 24px 0;
}

.api_menu .flex_options .right_menu .box_item .request .url{
    border-bottom: 1px solid #4c5264;
    border-top: 1px solid #4c5264;
    padding: 7px 7px 7px 0;
    display: inline-flex;
    width: 100%;
}

.api_menu .flex_options .right_menu .box_item .request .method{
    padding: 0 5px 0 5px;
    border-radius: 5px;
    font-weight: bold;
    border: 2px solid #4c5264;
    margin: 0 10px 0 0;
}

.api_menu .flex_options .right_menu .box_item .response .details h4{
    font-size: 14px;
    padding: 0 0 7px 0;
    color: #5d6373;
} 


table {
    border-collapse: collapse;
    margin-top: 20px;
}

table td, table th {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

table tr:first-child th {
    border-top: 0;
    
}

table tr:last-child td {
    border-bottom: 0;
}
  
table tr td:first-child,
table tr th:first-child {
    border-left: 0;
}
  
table tr td:last-child,
table tr th:last-child {
    border-right: 0;
}



